<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="wpf.Properties.Settings.model_dbConnectionString"
            connectionString="Data Source=webappdb-csi291.database.windows.net;Initial Catalog=model_db;Persist Security Info=True;User ID=webappdb_csi291;Password=GKLq4AqS9NadbUJ9qCbHemkc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <wpf.Properties.Settings>
            <setting name="user_login" serializeAs="String">
                <value />
            </setting>
        </wpf.Properties.Settings>
    </userSettings>
</configuration>